{% extends 'shop/base.html' %}
{% block title%} CheckProdukts{% endblock %}

{% block body %}
<div class="container">
    <div class="col sample my-4">
        <h2>ChadProDukts Checkout - Review Your Cart Items</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
            </ul>
            <span id="totalprice"></span>
        </div>
    </div>
    <div class="my-5 col">
      <h2> Enter Your Address for Delivery: </h2>
      <form method="POST" action="/shop/checkout/" class="row g-3">
      {% csrf_token %}
      <input type="hidden" name="itemsJson" id="itemsJson">
        <div class="col-md-3">
        <label class="mb-2" for="specificSizeInputName">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Jane Doe">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email">
      </div>
      <div class="col-md-3">
        <label for="inputmob" class="form-label">Mobile number</label>
        <input type="tel" class="form-control" name="phone" id="phone">
      </div>  
      <div class="col-12">
        <label for="inputAddress" class="form-label ">Commercial Address</label>
        <input type="text" class="form-control pahla" name="address" id="address" placeholder="1234 Main St">
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label ">Physical Address</label>
        <input type="text" class="form-control dusra" name="address" id="address" placeholder="Apartment, studio, or floor">
      </div>
      <fieldset class="row mb-3" style="padding: 0 25%">
        <legend class="col-form-label col-sm-2 pt-0">Preference</legend>
        <div class="col-sm-12">
          <div class="form-check first">
            <input class="form-check-input one" type="radio" name="gridRadios" value="option1">
            <label class="form-check-label" for="gridRadios1">
              First: Commercial Address
            </label>
          </div>
          <div class="form-check second">
            <input class="form-check-input two" type="radio" name="gridRadios" value="option2">
            <label class="form-check-label" for="gridRadios2">
              Second: Physical Address
            </label>
          </div>
        </div>
      </fieldset>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" name="city" id="city">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <input type="text" class="form-control" name="state" id="state" placeholder="State">
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" name="zip_code" id="zip_code">
      </div>
      <div class="col-12">
        <div class="form-check" style="margin: 0 38%;">
          <input class="form-check-input" type="checkbox" id="gridCheck" >
          <label class="form-check-label" for="gridCheck">
            Do you want to recieve notifications about best exclusive items!
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" onclick="thankyou()" class="btn btn-primary">Sign in</button>
      </div>
    </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
  $('.first').on('click','input.one', function(){
    const change=document.querySelector('.pahla')
    const change2=document.querySelector('.dusra')
    change.setAttribute('id', 'preferred_address')
    change.setAttribute('name', 'preferred_address')
    change2.setAttribute('id', 'second_preferred_address')
    change2.setAttribute('name', 'second_preferred_address')

  });
  $('.second').on('click','input.two', function(){
    const change2=document.querySelector('.pahla')
    const change=document.querySelector('.dusra')
    change.setAttribute('id', 'preffered_address')
    change.setAttribute('name', 'preferred_address')
    change2.setAttribute('id', 'second_preferred_address')
    change2.setAttribute('name', 'second_preferred_address')
  });


if (localStorage.getItem('Cart') == null) {
    var Cart = {};
} else {
    Cart = JSON.parse(localStorage.getItem('Cart'));
}
console.log(Cart);
var sum = 0;
var total=0;
if ($.isEmptyObject(Cart)) {
    //if object is empty
    mystr = `<p>Your Cart is empty, please add some items to your Cart before checking out!</p>`
    $('#items').append(mystr);
} else {
    for (item in Cart) {
        let name = Cart[item][1];
        let qty = Cart[item][0];
        let msg = Cart[item][2];
        let itemprice=Cart[item][3];
        total+=qty*itemprice
        sum = sum + qty;
        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="ms-2 me-auto">
          <div class="fw-bold">${name}</div>
          ${msg}
          </div>
        <span class="badge bg-primary rounded-pill">Item: Rs.${itemprice},Qty ${qty}</span>
      </li>`
        $('#items').append(mystr);
    }
}
document.getElementById('totalprice').innerHTML = ` <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card1 h-100" style="background:aquamarine;border:0px solid aquamarine;">
            <div class="card-body">
              <h5 class="card-title">Your Cart amounts</h5>
       
              
              <br><br>
              <h2> Rs. `+ total +`</h2>
              <h2> Total Items: `+sum+ `</h2>

              <br><br>
              <ul>
                <li>Thanks a lot for using our service</li>
                <li>Enter your details for us to deliver your cart</li>            
              </ul>
            </div>

            
          </div>
        </div>`;

function clearCart(){
  Cart=JSON.parse(localStorage.getItem('Cart'));
  localStorage.clear();
  Cart={};
  mystr = `<p>Your Cart is empty, please add some items to your Cart before checking out!</p>`
    document.getElementById('items').innerHTML=mystr;
    document.getElementById('cart').innerHTML = sum;

}
document.getElementById('cart').innerHTML = sum;
$('#itemsJson').val(JSON.stringify(Cart));
  {% if thank %}
alert('Thanks for order with us, Your order {{id}} has been placed. Track using our order tracker KEEP A NOTE OF ID AS THIS WOULD BE ASKED FOR CONFIRMATION!')
localStorage.clear();
document.location="/shop"
{%endif%}

</script>
{% endblock %}
