{% extends 'shop/base.html' %}
{% load static %}
{% block title %} ChadProDukts {% endblock %}
{% block body %}
  	
	<section class="ftco-section img bg-hero" style=" background-image: url(/static/shop/img/bg_1.jpg);">
		<div class=" container" style="color:beige;">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Contact Me</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-11">
					<div class="wrapper">
						<div class="row no-gutters justify-content-between">
							<div class="col-lg-6 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-5">
									<h3 class="mb-4">Contact us</h3>
				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-map-marker"></span>
				        		</div>
				        		<div class="text pl-4">
					            <p><span>Address:</span>Tridaatu Housing Society, Govandi, Mumbai</p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-phone"></span>
				        		</div>
				        		<div class="text pl-4">
					            <p><span>Phone:</span> <a href="tel://+91 9372635328">+91 9372635328</a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-paper-plane"></span>
				        		</div>
				        		<div class="text pl-4">
					            <p><span>Email:</span> <a href="mailto:sridhar.a@spit.ac.in">sridhar.a@spit.ac.in</a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-globe"></span>
				        		</div>
				        		<div class="text pl-4">
					            <p><span>Website</span> <a href="#">sympto.org</a></p>
					          </div>
				          </div>
			          </div>
							</div>
							<div class="col-lg-5">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Get in touch</h3>
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form action="/shop/contact/" method="POST" id="contactForm" name="contactForm">
										{% csrf_token %}
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control" name="name" id="name" placeholder="Name" required/>
												</div>
											</div>
											<div class="col-md-12"> 
												<div class="form-group">
													<input type="email" class="form-control" name="email" id="email" placeholder="Email" required/>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="tel" class="form-control" name="phone" id="phone" placeholder="Mobile No." required/>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required/>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<textarea name="message" class="form-control" id="message" cols="30" rows="5" placeholder="Message" required></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" onclick="thanks()" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- <script src="{% static 'js/que_min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap_min.js' %}"></script>
  <script src="{% static 'js/que_validate.min.js' %}"></script> -->
  <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script>
		function thanks(){
			alert("Thanks for using our service and contacting us! We'll revert soon. If its urgent we have our service cell also appended, you could be in line contacting us. In that time why not check out our blog")
		};
        function sendemail(){
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var phone = document.getElementById("phone").value;
            var sub = document.getElementById("subject").value;
            var mess = document.getElementById("message").value;

            var body = "Name :" + name + "<br/>Email :" + email + "<br/>phone number: " + phone + "<br/>User Message:" + mess;
        
          
            Email.send({
            Host : "smtp.elasticemail.com",
            Username : "sridhar.a@spit.ac.in",
            Password : "2E1E483808304CF6173035C043E050163E7A",
            To : "sridharsundar140@gmail.com",
            From : "sridhar.a@spit.ac.in",
            Subject :"New Query recieved on your site" + sub,
            Body : body
           }).then(
           message => {
            if(message=='OK'){
            document.getElementById("popup").classList.add("frame");
            document.getElementById("popup").style.visibility="visible"; 
            document.getElementById("form-conatiner").style.visibility="hidden";
            document.formgroup.reset();
            }
            else{
            console.error(message);
            document.getElementById("wrong").classList.add("frame");
            document.getElementById("wrong").style.visibility="visible"; 
            document.getElementById("form-conatiner").style.visibility="hidden";
            }
           }
           ); 
        }
        // confirm mail

        
    </script>


{% endblock %}